ion-content ion-toolbar {
  --background: translucent;
}
ion-card-subtitle {
  text-transform: capitalize;
}
.ion-header{
  --background: #088413;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}
