<ion-toolbar>
  <ion-title>Profile</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <header>
    <div class="img-container">
      <ion-avatar style="height: 150px; width: 40%">
        <img src="{{userData[0]?.imageUrl}}" />
      </ion-avatar>
    </div>

    <div class="background"></div>

    <div class="header-text">
      <h1>{{userData[0]?.firstName}} {{userData[0]?.lastName}}</h1>
      <p>{{userData[0]?.username}}</p>
    </div>
  </header>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-label color="dark">{{userData[0]?.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="navigate-circle"></ion-icon>
      <ion-label color="dark">{{userData[0]?.address}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="person-circle"></ion-icon>
      <ion-label color="dark" style="text-transform: capitalize"
        >{{userData[0]?.contact}}</ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="document"></ion-icon>
      <ion-label color="dark" style="text-transform: capitalize">
        <a href="{{userData[0]?.driversLicense}}" target="_blank"
          >My Driver's License</a
        >
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-title>Settings</ion-title>

  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="key"></ion-icon>
      <ion-label color="dark">Reset Password</ion-label>
    </ion-item>
    <ion-item (click)="logout()">
      <ion-icon slot="start" name="log-out"></ion-icon>
      <ion-label color="danger">Log out</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
