<ion-header>
  <ion-toolbar class="ion-header">
    <ion-buttons class="ion-no-border" slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Order number {{paramsId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <h4 class="ion-margin-bottom">Order {{paramsId}}</h4>
          <p>
            <strong>Total: </strong>{{order?.currency}} {{order?.total_price}}
          </p>
          <p><strong>Payment Method: </strong>{{order?.gateway}}</p>
          <p><strong>Name: </strong>{{order?.billing_address.name}}</p>

          <p><strong>Location: </strong>{{order?.billing_address.address1}}</p>
          <p>
            <strong>Order Url: </strong
            ><a href="{{order?.order_status_url}}">Shopify Url</a>
          </p>

          <!-- <ion-button
            *ngIf="getUserData?.userData?.email===order?.assignedDelivery"
            >Close Order</ion-button
          > -->
        </ion-card-header>
        <ion-card-content>
          <ion-list
            *ngIf="getUserData?.userData?.email===order?.assignedDelivery"
          >
            <ion-item>
              <ion-label>Order Status</ion-label>

              <!-- <select
          #status
          class="form-select"
          style="max-width: 120px"
          aria-label="Default select example"
          hidden
          (change)="statusOnChange()"
        >
          <option value="pending">Unverified</option>
          <option value="approved">Verified</option>
        </select> -->
              <ion-select
                #statusValue
                placeholder="Status"
                (ngModelChange)="statusOnChange(statusValue.value, paramsId)"
                name="status"
                [(ngModel)]="status"
                [value]="order?.order_status"
              >
                <ion-select-option value="cancelled"
                  >Cancelled</ion-select-option
                >
                <ion-select-option value="to-ship">To Ship</ion-select-option>
                <ion-select-option value="delivered"
                  >Delivered</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-list></ion-card-content
        >
      </ion-card>
    </ion-col>
  </ion-row>
  <header>
    <h5><strong>Items</strong></h5>
  </header>
  <ion-card *ngFor="let orders of order?.line_items">
    <ion-card-header>
      <ion-card-title>{{orders?.title}}</ion-card-title>
      <ion-card-subtitle
        >Product Variant: {{orders?.variant_title}}</ion-card-subtitle
      >
      <ion-card-subtitle>Vendor: {{orders?.vendor}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content
      ><h4>
        Price: {{orders?.price_set?.presentment_money.currency_code}}
        {{orders?.price_set?.presentment_money.amount}}
      </h4>
      <h4>Quantity: {{orders?.quantity}}</h4>
    </ion-card-content>
  </ion-card>
</ion-content>
